{% extends "layout.html" %}

{% block body %}
<div class="container">

<br>
<br>
<!-- <h6>Hello, Welcome</h6> -->

<h1 style="width: 90vw;"><b>Face Of Cu</b></h1>



<div>
    <!-- <h1><b>Voting hasnt begun yet.</b></h1> -->
    <h6>Voting for the Face Of Cu has been closed. Please come back later to preview the votes</h6>
<!-- <br/> -->
<br/>
<!-- <a href="/#candidates">
    <button class="button" >Vote Now</button>
</a> -->
<!-- <br/> -->
<!-- <br/> -->
<!-- <br/> -->
    <!-- <div class="votingCard">
            <div class="votingEllipse" style="background-color: transparent;">
                <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" style="overflow: hidden; border-radius: 50%;" width=100%>
            </div> 
        <div style="margin-left: 10px;">
            <h4>Nana Kweku Adumatta</h4>
            <h6>Suplimentary text to support</h6>
        </div>
    </div>

    <div class="votingCard">
        <div class="votingEllipse" style="background-color: transparent;">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" style="overflow: hidden; border-radius: 50%;" width=100%>
        </div> 
    <div style="margin-left: 10px;">
        <h4>Nana Kweku Adumatta</h4>
        <h6>Suplimentary text to support</h6>
    </div>
</div> -->

<!-- EVICTED -->

<!-- <h6 class="text-muted"><b>EVICTED</b></h6>
<div style="text-align: left;">
    <h6 class="text-muted">No one has been evicted yet</h6>
</div> -->

<!-- <div class="scrolling-wrapper-flexbox">
    <div class="candidateCard">
        <img src="https://images.unsplash.com/photo-1522512115668-c09775d6f424?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJsYWNrJTIwd29tZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="candidatePicture" style="overflow: hidden; width: 207px; height: 207px; border-radius:20px 20px 0 0 ;">
        <div style="padding: 10px;">    
            <h6><b>Maame Akua</b></h6>
            <h6 class="text-muted">Pharmacy</h6>
        </div>
    </div>
    
    <div class="candidateCard">
        <img src="https://images.unsplash.com/photo-1589317621382-0cbef7ffcc4c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmxhY2slMjB3b21lbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="candidatePicture" style="overflow: hidden; width:207px; height: 207px; border-radius:20px 20px 0 0 ;">
        <div style="padding: 10px;">    
            <h6><b>Maame Akua</b></h6>
            <h6 class="text-muted">Pharmacy</h6>
        </div>
    </div>

      <div class="candidateCard">
        <img src="https://images.unsplash.com/photo-1495490140452-5a226aef25d4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsYWNrJTIwd29tZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="candidatePicture" style="overflow: hidden; width:207px; height: 207px; border-radius:20px 20px 0 0 ;">
        <div style="padding: 10px;">    
            <h6><b>Maame Akua</b></h6>
            <h6 class="text-muted">Pharmacy</h6>
        </div>
    </div>
</div> -->
<!-- 
<br/>
<br/>
<section id="#candidates">

<h6 class="text-muted"><b>CANDIDATES</b></h6>

{% for candidate in candidates %}
<div class="votingCard">
    <div class="votingEllipse" style="background-color: transparent; margin-bottom: 0;">
        <img src="{{url_for("static", filename='img/candidates/' + candidate.image_file)}}" alt="SRC SOCIALS"
        style="overflow: hidden; border-radius: 50%; width:60px; height:60px; object-fit: cover;" width=100%>
    </div> 
<div style="margin-left: 10px; width:70% ">
        <h6 style="margin-bottom: 0;"><b>{{candidate.name}}</b></h6>
        <h6 style="margin-bottom: 0;" class="text-muted">{{candidate.age}}</h6>    
</div>
<a href='{{url_for("fpreview", id = candidate.id)}}'>
    <button class="votebutton">Vote</button>
</a>
</div>
{% endfor %}
</section>
 -->

</div>
</div>

{% endblock %}