<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Of Cu</title>
    <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body style="margin:0">
    <div style="width: 100vw; height: 30vh;">
        <img src="https://images.unsplash.com/photo-1588694673509-be778c806a6d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJsYWNrJTIwd29tZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width="100%" style="height: 30vh; object-fit: cover;" />
    </div>  
    <div class="container">
        <br/>
        <h6 class="text-muted">No. 3</h6>
        <h6><b>Nana Kweku Adumatta</b></h6>
        <!-- <br/> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero corrupti earum sint velit reprehenderit cupiditate et iste sed. Non laboriosam ea rerum in minus est molestiae dolore quae, iste rem.</p>
    
        <div class="scrolling-wrapper-flexbox">
    <div class="candidateCard">
        <img src="https://images.unsplash.com/photo-1522512115668-c09775d6f424?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJsYWNrJTIwd29tZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="candidatePicture" style="overflow: hidden; width: 207px; height: 207px; border-radius:20px 20px 0 0 ;">
        <div style="padding: 10px;">    
            <h6><b>Maame Akua</b></h6>
            <h6 class="text-muted">Pharmacy</h6>
        </div>
    </div>
    
    <div class="candidateCard">
        <img src="https://images.unsplash.com/photo-1589317621382-0cbef7ffcc4c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmxhY2slMjB3b21lbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="candidatePicture" style="overflow: hidden; width:207px; height: 207px; border-radius:20px 20px 0 0 ;">
        <div style="padding: 10px;">    
            <h6><b>Maame Akua</b></h6>
            <h6 class="text-muted">Pharmacy</h6>
        </div>
    </div>

      <div class="candidateCard">
        <img src="https://images.unsplash.com/photo-1495490140452-5a226aef25d4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsYWNrJTIwd29tZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="candidatePicture" style="overflow: hidden; width:207px; height: 207px; border-radius:20px 20px 0 0 ;">
        <div style="padding: 10px;">    
            <h6><b>Maame Akua</b></h6>
            <h6 class="text-muted">Pharmacy</h6>
        </div>
    </div>
</div>
<div style="height: 10vh;">

</div>
    
    

</div>
<div style="position: fixed; bottom: 10px; width: 100%;">    
    <div style="text-align: center;">
        <button class="button" style="margin: auto;">Vote For Me</button>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>