{% extends "layout.html" %}

{% block body %}


<section id="hero">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h6 style="font-weight: 100;">WELCOME TO CU SRC</h6>
                    <h1>SRC Information Portal</h1>
                    <p>We are here for you. You can find all the information concerning the school here. You can also contact us for any pressing information</p>
                    <a href="#footer">
                        <button class="button">Contact us now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="new">
<div class="container">
    <div class="flexrow">   
        <div>
            <h4>Whats new</h4>
            <hr class="header-line">
        </div>
        <a href="{{url_for("updates")}}">
            <u><h6 style="font-weight: 100;">View All <i class="fas fa-long-arrow-alt-right"></i></h6></u>
        </a>
    </div>
    <div class="row">


        {% for post in limitpost %}
        <div class="col-md-4">
            <a href="{{url_for('post',id=post.id)}}">

            <div data-aos="fade-up" data-aos-delay="100">

            <div class="card">
                <div>
                    <!-- {{ url_for('static',filename='img/Fries-porn.png')}} -->
                    <img src="{{url_for("static", filename='uploads/images/' + post.image_file)}}" alt="SRC SOCIALS" width="100%">
                </div>
                <div class="subcard">
                    <h4>{{post.title}} <i class="fa fa-arrow-right" aria-hidden="true"></i></h4>
                    <h6 class="text-muted" style="font-weight: 100;">View More</h6>
                </div>
            </div>
        </div>
        </a>    
        </div>
        {% endfor %}

        <!-- <div class="col-md-4">
            <div data-aos="fade-up" data-aos-delay="200">

            <div class="card">
                <img src="{{url_for("static", filename='img/social.png')}}" alt="SRC SOCIALS" width="100%">
                <div class="subcard">
                    <h4>Follow us on social media <i class="fa fa-arrow-right" aria-hidden="true"></i></h4>
                    <h6 class="text-muted" style="font-weight: 100;">View More</h6>
                </div>
            </div>
            <br/>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-up" data-aos-delay="300">

            <div class="card">
                <img src="{{url_for("static", filename='img/WuComFlyer2.png')}}" alt="SRC SOCIALS" width="100%">
                <div class="subcard">
                    <h4>Happy Womens Day<i class="fa fa-arrow-right" aria-hidden="true"></i></h4>
                    <h6 class="text-muted" style="font-weight: 100;">View More</h6>
                </div>
            </div>
            </div>
        </div> -->

       
    </div>
</div>
</section>

<section>
    <div style="background-color: darkred; color: white; padding: 10px; padding: 30px 10px; text-align: center;">
        <h4 style="font-weight: 100;">If there is a specific issue you are trying to raise with us, you can sumit it here</h4>
        <button class="button" style="color:#DA2C27; background-color: white;"><i class="fas fa-search"></i> Submit Now</button>
    </div>
</section>

<section id="conversations">
<div class="container">
    <div class="flexrow">   
        <div>
            <h4>Matters Arising</h4>
            <hr class="header-line">
        </div>
        <a href="#">
            <u><h6 style="font-weight: 100;">View All <i class="fas fa-long-arrow-alt-right"></i></h6></u>
        </a>
    </div>
    <div class="row">
        <div class="col-md-4" >
            <div class="conversation">
                <img src="{{url_for("static",filename="img/nkrumah.png")}}" width="70px" height="70px" style="object-fit: cover; padding: 10px;">
                <div>
                    <h6>Petition Acceptance</h6>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" >
            <div class="conversation">
                <img src="{{url_for("static",filename="img/nkrumah.png")}}" width="70px" height="70px" style="object-fit: cover; padding: 10px;">
                <div>
                    <h6>Petition Acceptance</h6>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" >
            <div class="conversation">
                <img src="{{url_for("static",filename="img/nkrumah.png")}}" width="70px" height="70px" style="object-fit: cover; padding: 10px;">
                <div>
                    <h6>Petition Acceptance</h6>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,</p>
                </div>
            </div>
        </div>



    </div>
</div>

</section>

<section id="team">
    <div class="container">

        <div class="flexrow">   
            <div>
                <h4>Meet Our Team</h4>
                <hr class="header-line">
            </div>
            <a href="{{url_for("team")}}">
                <u><h6 style="font-weight: 100;">View All <i class="fas fa-long-arrow-alt-right"></i></h6></u>
            </a>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                            <img src="{{url_for("static", filename='img/team/Nargeh.jpg')}}" alt="SRC SOCIALS" width="100%" height="250px" style="object-fit: cover;">

                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">SRC PRESIDENT</h6>
                            <h6>Emmanuel Nargeh </h6>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <img src="{{url_for("static", filename='img/team/derrick.jpg')}}" alt="SRC SOCIALS" width="100%" height="250px" style="object-fit: cover;">

                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">SRC PRO</h6>
                            <h6>Demor Dotse Derrick</h6>
                        </div>
                    </div>

                    <div class="col-md-3">  
                        <img src="{{url_for("static", filename='img/team/Degraft.jpg')}}" alt="SRC SOCIALS" width="100%" height="250px" style="object-fit: cover;">
                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">SRC ORGANIZING SEC.</h6>
                            <h6>Degraft Yeboah </i></h6>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <img src="{{url_for("static", filename='img/team/Kwame.jpg')}}" alt="SRC SOCIALS" width="100%">
                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">SRC ENTERCOM CHAIRMAN</h6>
                            <h6>Kwame Attafuah</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{{url_for("static", filename="img/solologo.png")}}" width="30%">
                <h4>Central University SRC </h4>
                <!-- <p>Some text about central university</p> -->
                <hr style="color: white;">
                <div class="row">

                <div class="icon">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
            </div>

            </div>
<div class="col-md-6"></div>
            <div class="col-md-3">
                <h4>Contact Us</h4>
                <h6>You can reach the SRC through our many plaforms. </h6>
                <a style="color: white;" href="tel:0545977791"><h6><i class="fa fa-phone" aria-hidden="true"></i> SRC PRO</h6></a>
            </div>
            
        </div>
    </div>
</footer>


{% endblock %}