{% extends "layout.html" %}

{% block body %}
<div class="container">

<section id="team">
    <div class="container">

        <div>
            <h4>{{post.title}}</h4>
            <hr class="header-line">
        </div>

        <div>
            <div class="container">
                <div class="row">
                        <div>
                            <img src="{{post.author}}" alt="SRC SOCIALS" style="object-fit: cover; width:100%;">
                            <!-- <img class="image" src={{post.author}}/> -->
                        </div>
                        <br/>
                    </div>
                </div>
                <div >
                    <h3><b>{{post.title}}</b></h3>
                    <h5 class="text">{{post.date_created.strftime("%m/%d/%Y")}}</h5>

                    <br/>
                    <p>{{post.content}} </p>

                </div>
        </div>
    </div>
</section>
</div>

{% endblock %}