{% extends "layout.html" %}

{% block body %}
<div class="container">
    <!-- <br>
    <div style="display:'flex">
        <div>
            <h6>Hello, Welcome</h6>
            <h4><b>All Your Candidates</b></h4>
        </div>

    </div>
<br>
            {% for candidate in candidates %}
            <div class="postCard">

                <div>
                    <h5 class="text">{{candidate.name}}</h5>
                </div>
                <div>
                        {% set highscore = candidate.updatedVotes * 2 %}
                        <h6 class="text-muted">{{highscore}}</h6>
                </div>
            </div>
            {% endfor %} -->

            <br/>
            <br/>
            <br/>
            <h4>This page is currently under maintainance</h4>
            <h6>Please check in later</h6>


</div>
{% endblock %}