{% extends "layout.html" %}

{% block body %}
<section id="new">
    <section id="team">
        <div class="container">
    
            <div class="flexrow">   
                <div>
                    <h4>Meet Our Team</h4>
                    <hr class="header-line">
                </div>

                    <!-- <u><h6 style="font-weight: 100;">View All <i class="fas fa-long-arrow-alt-right"></i></h6></u> -->

            </div>
    
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- <a style="text-decoration: none;" href="{{url_for("profile", id='1')}}"> -->
                            
                                <img src="{{url_for("static", filename='img/team/Nargeh.jpg')}}" alt=" SOCIALS" width="100%" height="250px" style="object-fit: cover;">
    
                            <div class="subcard">
                                <h6 class="text-muted" style="font-weight: 100;">PRESIDENT</h6>
                                <h6>Emmanuel Nargeh</h6>
                            </div>

                        <!-- </a> -->
                        </div>
                        <div class="col-md-3">

                            <img src="{{url_for("static", filename='img/team/Vice.jpeg')}}" alt="SOCIALS" width="100%" height="250px" style="object-fit: cover;">
    
                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">VICE PRESIDENT</h6>
                            <h6>Daniel Mensah </h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="{{url_for("static", filename='img/team/secretaryy.png')}}" alt="SOCIALS" width="100%">
                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">SECRETARY</h6>
                            <h6>Henry Abeka Osei</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="{{url_for("static", filename='img/team/secretary.png')}}" alt="SOCIALS" width="100%">
                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">TREASURER</h6>
                            <h6>Joseph Sori Adaboro</h6>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <img src="{{url_for("static", filename='img/team/Abena.png')}}" alt="SOCIALS" width="100%">
                        <div class="subcard">
                            <h6 class="text-muted" style="font-weight: 100;">WOMEN'S COMMISSIONER</h6>
                            <h6>Abena Wiafe Owusu- Ansah</h6>
                        </div>
                    </div>
                        <div class="col-md-3">
                            <img src="{{url_for("static", filename='img/team/derrick.jpg')}}" alt="SOCIALS" width="100%" height="250px" style="object-fit: cover;">
    
                            <div class="subcard">
                                <h6 class="text-muted" style="font-weight: 100;">PRO</h6>
                                <h6>Demor Dotse Derrick</h6>
                            </div>
                        </div>
    
                        <div class="col-md-3">  
                            <img src="{{url_for("static", filename='img/team/Degraft.jpg')}}" alt=" SOCIALS" width="100%" height="250px" style="object-fit: cover;">
                            <div class="subcard">
                                <h6 class="text-muted" style="font-weight: 100;"> ORGANIZING SEC.</h6>
                                <h6>De-Graft Kwame Yeboah </h6>
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <img src="{{url_for("static", filename='img/team/Spirit.png')}}" alt=" SOCIALS" width="100%">
                            <div class="subcard">
                                <h6 class="text-muted" style="font-weight: 100;"> SPIRITUAL AFFAIRS LEADER</h6>
                                <h6>Jesse Edem Anim</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="{{url_for("static", filename='img/team/Kwame.jpg')}}" alt=" SOCIALS" width="100%">
                            <div class="subcard">
                                <h6 class="text-muted" style="font-weight: 100;"> ENTERCOM CHAIRMAN</h6>
                                <h6>Kwame Appiah Attafuah</h6>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <img src="{{url_for("static", filename='img/team/secretary.png')}}" alt=" SOCIALS" width="100%">
                            <div class="subcard">
                                <h6 class="text-muted" style="font-weight: 100;"> TREASURER</h6>
                                <h6>Joseph Adaboro</h6>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}